@()

@main("Login") {
<html class="login">
    <br>
<center class="login">
    <h2 style="text-align: center;">Login</h2>
    <hr>
    <form method="post" action="login">
        <div style="padding-left: 15%; text-align:justify;">
            Email: <input type="text" name="email">
            <br>
            Password: <input type="password" name="password">
        </div>
        <br>
        <div style="text-align:center;">
            <button class="button">Sign In</button>
        </div>

    </form>
</center>
</html>

}