@(form: Form[RegisterData])(implicit request: MessagesRequestHeader)

  @main("Register") {

<html class="backgroundImg">
    <center>
        <h1 style="text-align: center;">Register</h1>


            @helper.form(action = routes.Register.createUser()){
            @helper.CSRF.formField
        <div style="padding-left:10%">
            <table>
                <td>
                    @helper.inputText(form("firstName"), '_label -> "First Name")

                    @helper.inputText(form("lastName"), '_label -> "Last Name")

                    @helper.inputText(form("email"), '_label -> "Email")

                    @helper.inputRadioGroup(form("gender"), options = Seq("M"->"Male","F"->"Female"),'_label -> "Gender")
                </td>
                <td style="padding-left:10%">
                    @helper.inputDate(form("date_birth"), '_label -> "Date")

                    @helper.inputText(form("phone"), '_label -> "Phone")

                    @helper.inputPassword(form("password"), '_label -> "Password")

                    @helper.inputPassword(form("retypePassword"), '_label -> "Re-Type Password")
                </td>
            </table>
            <br>


        </div>
        <div style="text-align:center;">
            <input type="submit" class="button" value="Register Now!"/>
        </div>
        }


    </center>

    <br>
</html>


}